Calculator_BCD.dSYM/Contents/Resources/Relocations/aarch64/Calculator_BCD.yml
Calculator_BCD.dSYM/Contents/Resources/DWARF/Calculator_BCD
Calculator_BCD.dSYM/Contents/Info.plist
.vscode/tasks.json
.vscode/settings.json
text
Calculator_BCD.c_backup
Calculator_BCD
StateMachine/output.txt
StateMachine/state_machine.c_backup
